
input:focus {
 outline: none;
  color: rgba(255, 185, 15, 0.75);
  border-color: rgba(255, 185, 15, 0.75);
}

input.keyup {
 
  color:orange;
  border-color: orange;
  text-shadow: 0 0 .125em orange;
  box-shadow: 0 0 .25em orange,inset 0 0 .25em orange;
}

canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
}

input {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-webkit-input-placeholder {
  opacity: .5;
}

::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus::-moz-placeholder {
  opacity: .5;
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  text-shadow: 0 0 .125em transparent;
  -webkit-transition: all .25s;
  transition: all .25s;
}

input:focus:-ms-input-placeholder {
  opacity: .5;
}



