<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>Controller.PersonalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>Controller.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>Controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionAddServlet</servlet-name>
    <servlet-class>Controller.QuestionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <servlet-class>Controller.QuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseAddServlet</servlet-name>
    <servlet-class>Controller.ResponseAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseDeleteServlet</servlet-name>
    <servlet-class>Controller.ResponseDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectionAddServlet</servlet-name>
    <servlet-class>Controller.CollectionAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectionDeleteServlet</servlet-name>
    <servlet-class>Controller.CollectionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminResponseDeleteServlet</servlet-name>
    <servlet-class>Controller.AdminResponseDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminQuestionDeleteServlet</servlet-name>
    <servlet-class>Controller.AdminQuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessagesAddServlet</servlet-name>
    <servlet-class>Controller.MessagesAddServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessagesDeleteServlet</servlet-name>
    <servlet-class>Controller.MessagesDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminUsersDeleteServlet</servlet-name>
    <servlet-class>Controller.AdminUsersDeleteServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/PersonalModification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>/Responses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>/Question</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionAddServlet</servlet-name>
    <url-pattern>/QuestionAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionDeleteServlet</servlet-name>
    <url-pattern>/QuestionDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseAddServlet</servlet-name>
    <url-pattern>/ResponseAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseDeleteServlet</servlet-name>
    <url-pattern>/ResponseDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionAddServlet</servlet-name>
    <url-pattern>/CollectionAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionDeleteServlet</servlet-name>
    <url-pattern>/CollectionDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminResponseDeleteServlet</servlet-name>
    <url-pattern>/AdminResponseDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminQuestionDeleteServlet</servlet-name>
    <url-pattern>/AdminQuestionDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagesAddServlet</servlet-name>
    <url-pattern>/MessagesAdd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagesDeleteServlet</servlet-name>
    <url-pattern>/MessagesDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUsersDeleteServlet</servlet-name>
    <url-pattern>/AdminUsersDelete</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
