<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>Controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PersonalServlet</servlet-name>
    <servlet-class>Controller.PersonalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ResponseServlet</servlet-name>
    <servlet-class>Controller.ResponseServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>QuestionServlet</servlet-name>
    <servlet-class>Controller.QuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>Controller.CollectionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MessagesServlet</servlet-name>
    <servlet-class>Controller.MessagesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminResponseDeleteServlet</servlet-name>
    <servlet-class>Controller.AdminResponseDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminQuestionDeleteServlet</servlet-name>
    <servlet-class>Controller.AdminQuestionDeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AdminUsersServlet</servlet-name>
    <servlet-class>Controller.AdminUsersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Loginque2</servlet-name>
    <servlet-class>Controller.Loginque2</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Loginque3</servlet-name>
    <servlet-class>Controller.Loginque3</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonalServlet</servlet-name>
    <url-pattern>/PersonalModification</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ResponseServlet</servlet-name>
    <url-pattern>*.doResponse</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionServlet</servlet-name>
    <url-pattern>*.doQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>*.doCollection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MessagesServlet</servlet-name>
    <url-pattern>*.doMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminResponseDeleteServlet</servlet-name>
    <url-pattern>/AdminResponseDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminQuestionDeleteServlet</servlet-name>
    <url-pattern>/AdminQuestionDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminUsersServlet</servlet-name>
    <url-pattern>*.doAdminUsers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Loginque2</servlet-name>
    <url-pattern>/Loginque2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Loginque3</servlet-name>
    <url-pattern>/Loginque3</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>/Login</welcome-file>
  </welcome-file-list>
</web-app>
